* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-light: #ECE5DD80;
  --background-dark-primary: #181818;
  --background-dark-secondary: #282828;
  --color-grey: #F3F3F3;
  --color-grey-2: #8899A6;
  --color-purple: #C500E8;
  --color-blue: #0096FF;
  --color-green: #32B903;
  --color-red: #E80000;
  --opacity-grey: #3C3C3CCC;
  --opacity-green: #32B90380;
  --white: #FFF;
  /* --white: #f7f7f7; */
  --black: #000;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

/********** Common **********/

.no-decoration {
  text-decoration: none;
}

img {
  display: block;
  object-fit: cover;
}

button{
  color: inherit;
  background-color: inherit;
  font-size: 17px;
}

a{
  color: inherit;
}

/********** Title ************/
.subtitle {
  padding: 50px 0;
  font-size: 40px;
  font-weight: 400;
}

/********** Position **********/

.text-right {
  text-align: right;
}
/********* Button *************/

.btn {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 30px;
  border: none;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}

.btn-filter {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px 5px 0 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
}

.btn-filter:hover {
  color: var(--opacity-grey);
}

.no-border {
  border: none;
}

/*********** Font Style ********/
.italic {
  font-style: italic;
}

/*********** Border **********/
.border-black {
  border-bottom: 1px solid var(--black);
}

.border-white {
  border-bottom: 1px solid var(--white);
}

/*********** Background-Color **********/
.bg-light-1 {
  background-color: var(--white);
}

.bg-light-2 {
  background-color: var(--background-light);
}

.bg-darker-1 {
  background-color: var(--background-dark-primary);
}

.bg-darker-2 {
  background-color: var(--background-dark-secondary);
}

.bg-dark {
  background-color: var(--color-grey);
}


/*********** Colors **********/
.color-black {
  color: var(--black);
}

.color-white {
  color: var(--white);
}

.color-grey {
  color: grey;
}


/**********Media Query*/
/***Mobile***/
@media screen and (max-width: 1024px) {
  .subtitle {
    padding: 30px 0;
    font-size: 30px;
  }
}

@media screen and (max-width: 750px) {

  .btn {
      padding: 8px 12px;
      font-size: 15px;
  }
}
