.mainContainer {
   margin: 150px 0;
}

.container {
    display: flex;
    justify-content: flex-start;
    column-gap: 100px;
}

.leftPart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.video {
    height: 480px;
    max-width: 720px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #000;
}

.rightPart {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 80px;
}

.content {
    font-size: 18px;
    line-height: 21px;
    color: grey;
}


@media screen and (max-width: 1024px) {

    .mainContainer {
       margin: 100px 0;
    }

    .container {
        column-gap: 35px;
    }

    .content {
        font-size: 17px;
    }   

}

@media screen and (max-width: 768px) {
     .container {
        flex-direction: column;
    }

    .video {
        height: 300px;
    }

    .rightPart {
        width: 100%;
        align-items: flex-start;
        row-gap: 20px;
    }    
}