.box {
    position: relative;
    height: 240px;
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4);
}

.image {
    width: 100%;
    transition: transform .2s;
}

.image:hover  {
    transform: scale(1.03);
    filter : blur(4px);
}

.title {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 17px;
    font-weight: 600;
    color: #000;
}

.box-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
}

.box-section span {
    font-style: italic;
    font-size: .8rem;
}

.bookmark {
    position: absolute;
    top: -20px;
    right: 0;
    font-size: 25px;
}

.box-description {
    font-size: 15px;
}

.box-bottom {
    display: flex;
    justify-content: space-between;
}

.date {
    font-style: italic;
    font-size: .8rem;
}

@media screen and (max-width: 750px) {
    .image {
        height: 185px;
    }

    .box {
        height: 340px;
        padding: 10px 10px 0 10px;
        transition: height 1250ms;
    }

    .collapseOpen {
        height: 550px;
    }

    .box-section {
        justify-content: flex-start;
        row-gap: 10px;
    }
}
