.section {
    height: 300px;
    position: relative;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 17px;
    cursor: default;
    background-color: #000;
    color: #fff;
}

.listInfo {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.listMedia {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    list-style-type: none;
    display: flex;
    column-gap: 10px;
}
