.container {
    width: 100%;
    max-width: 750px;
    margin: -10px auto;
    padding: 10px;
    overflow: hidden;
    /* overflow: clip;
    overflow-clip-margin: 10px; */
}

.list {
    display: flex;
    column-gap: 5px;
    list-style-type: none;
}

.item {
    padding: 15px;
    margin-bottom: 5px;
    font-size: 18px;
    border-radius: 5px;
    cursor: default;
}

.itemSelected {
    padding: 10px;
    margin-bottom: 2px;
    font-size: 18px;
    border-radius: 5px 5px 0 0;
    cursor: default;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
}

.content {
    height: 350px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contentAbout {
    border-radius: 0 5px 5px 5px;
}

@media screen and (max-width: 750px) {
    .container {
        margin-top: 25px;
    }
    

    .content {
        height: 500px;
    }
    
    .contentAbout {
        height: 500px;
    }

}