.container {
    height: 240px;
    width: 300px;
    padding: 20px 15px;
    border-radius: 15px;
    border: 1px solid var(--color-grey);
    background-color: #FAFAFA;
}

.container:hover {
    background-color: #000;
    color: #FAFAFA;
}

.border {
    width: 75px;
    border: 1px solid grey;
}

.title {
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0;
}

.content {
    font-size: 15px;
    color: grey;
}
.container:hover .content {
    color: #FAFAFA;
}
