.container {
    height: 200px;
    width: 300px;
    padding: 20px 10px;
    border-radius: 10px;
    border: 1px solid #000;
}

.border {
    width: 100px;
    border: 0.5px solid #000;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin: 25px 0;
}

.content {
    font-size: 15px;
}
