.main {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1440px;
    position: relative;
    padding: 70px 50px 50px 50px;
}

.topContainer{
    height: calc(100vh - 70px);
}

.up {
    height: 90%;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.leftContent {
    display: flex;
    align-items: end;
}

.title {
    font-size: 125px;
    font-weight: 400;
}

.rightContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgContainer {
    height: 60%;
    display: flex;
    align-items: flex-end;
}

.img {
    width: 200px;
    object-fit: contain;
    border-radius: 15px;
}

.subtitles {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    row-gap: 2px;
    font-weight: 500;
}

.linksContainer {
    position: relative;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.linkItem{
    position: absolute;
    border-radius: 30px;
    border-bottom: 1px solid var(--color-grey-2);
    background-color: var(--color-grey);
}

.link{
    height: 40px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    font-weight: 500;
    text-decoration: none;
}

.link1{
    animation: link1 1000ms 500ms forwards cubic-bezier(.63,.22,.49,.95);
}
.link2{
    animation: link2 1000ms 500ms forwards cubic-bezier(.63,.22,.49,.95);
}
.link3{
    animation: link3 1000ms 500ms forwards cubic-bezier(.63,.22,.49,.95);
}
.link4{
    animation: link4 1000ms 500ms forwards cubic-bezier(.63,.22,.49,.95);
}


@keyframes link1 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-240px);
    }
}
@keyframes link2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-80px);
    }
}
@keyframes link3 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(240px);
    }
}
@keyframes link4 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(80px);
    }
}

.boxContainer {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    gap: 25px 20px;
    cursor: pointer;
}

.subtitleProject {
    width: 50%;
}

.buttonFilter {
    width: 100px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid var(--color-grey-2);
    cursor: pointer;
}

.filterProject {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px 25px;
    list-style-type: none;
    cursor: default;
}

.sort {
    display: none;
}
.iconeTitle {
    margin-left: 5px;
    font-size: 15px;
    font-style: italic;
  }

@media screen and (max-width: 1080px) {
    .title {
        font-size: 70px;
    }

    .subtitle {
        font-size: 24px;
    }

    .boxContainer {
        margin-top: 50px;
        padding: 0;
        grid-template-columns: 1fr;
        row-gap: 35px;
    }
    @keyframes frameStatic {
        0% {
            transform: translate(0);
        }
        100% {
            transform: translate(0);
        }
    }
}

@media screen and (max-width: 750px) {
    .container {
        padding: 45px 10px 45px 10px;
    }

    .title {
        font-size: 60px;
    }

    .subtitle {
        font-size: 20px;
    }

    .filterProject {
        gap: 15px 25px;
    }
}