.main {
    width: 100%;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1440px;
    position: relative;
    padding: 70px 50px 50px 50px;
}

.topContainer{
    height: calc(100vh - 70px);
}

.up {
    height: 90%;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.leftContent {
    display: flex;
    align-items: end;
}

.title {
    font-family: 'Oregano', cursive;
    font-size: 85px;
}

.imgContainer {
    height: 50%;
}

.img {
    height: 300px;
    width: 250px;
    object-fit: contain;
}

.subtitles {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.linksContainer {
    position: relative;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.linkItem{
    width: 140px;
    position: absolute;
    background-color: var(--color-grey);
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    text-decoration: none;
}

.link1{
    animation: link1 1000ms 500ms forwards cubic-bezier(.63,.22,.49,.95);
}
.link2{
    animation: link2 1000ms 500ms forwards cubic-bezier(.63,.22,.49,.95);
}
.link3{
    animation: link3 1000ms 500ms forwards cubic-bezier(.63,.22,.49,.95);
}
.link4{
    animation: link4 1000ms 500ms forwards cubic-bezier(.63,.22,.49,.95);
}

@keyframes link1 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-240px);
    }
}
@keyframes link2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-80px);
    }
}
@keyframes link3 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(240px);
    }
}
@keyframes link4 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(80px);
    }
}

/*  Baoba Images*/
.baobabLeft {
    position: absolute;
    top: 1000px;
    left: -500px;
}

.baobabRight {
    position: absolute;
    top: 1000px;
    right: -500px;
}

.box-container {
    margin-top: 100px;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 50px 15px;
    cursor: default;
}

.project-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px 25px;
    list-style-type: none;
    cursor: default;
}

.sort {
    display: none;
}
.iconeTitle {
    margin-left: 5px;
    font-size: 15px;
    font-style: italic;
  }

@media screen and (max-width: 1080px) {
    .div-right {
        height: 328px;
    }

    .title {
        font-size: 70px;
    }

    .subtitle {
        font-size: 24px;
    }

    .box-container {
        margin-top: 50px;
        padding: 0;
        grid-template-columns: 1fr;
        row-gap: 35px;
    }
    @keyframes frameStatic {
        0% {
            transform: translate(0);
        }
        100% {
            transform: translate(0);
        }
    }
    
    .frame-left {
        animation: frameStatic;
        z-index: 20;
    }
}

@media screen and (max-width: 750px) {
    .container {
        padding: 45px 10px 45px 10px;
    }

    .top-container {
        height: auto;
        padding: 90px 0 10px 0;
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
    }

    .title {
        font-size: 60px;
    }

    .subtitle {
        font-size: 20px;
    }

    .project-filter {
        gap: 15px 25px;
    }
}