.main {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1440px;
    position: relative;
    padding: 70px 50px 50px 50px;
}

.topContainer{
    height: calc(100vh - 70px);
}

.up {
    height: 90%;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.leftContent {
    display: flex;
    align-items: end;
}

.title {
    font-size: 125px;
    font-weight: 400;
}

.rightContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgContainer {
    height: 60%;
    display: flex;
    align-items: flex-end;
}

.img {
    max-width: 200px;
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
}

.subtitles {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    row-gap: 2px;
    font-weight: 500;
}

.linksContainer {
    position: relative;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 15px;
}

.linkItem{
    position: absolute;
    border-radius: 30px;
    border-bottom: 1px solid var(--color-grey-2);
    background-color: var(--color-grey);
}

.link{
    height: 40px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    font-weight: 500;
    text-decoration: none;
}

.link1{
    animation: link1 1000ms 500ms forwards cubic-bezier(.63,.22,.49,.95);
}
.link2{
    animation: link2 1000ms 500ms forwards cubic-bezier(.63,.22,.49,.95);
}
.link3{
    animation: link3 1000ms 500ms forwards cubic-bezier(.63,.22,.49,.95);
}
.link4{
    animation: link4 1000ms 500ms forwards cubic-bezier(.63,.22,.49,.95);
}


@keyframes link1 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-240px);
    }
}
@keyframes link2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-80px);
    }
}
@keyframes link3 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(240px);
    }
}
@keyframes link4 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(80px);
    }
}

.boxContainer {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px 20px;
    cursor: pointer;
}

.subtitleProject {
    width: 50%;
}

.buttonFilter {
    width: 100px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid var(--color-grey-2);
    cursor: pointer;
}

.filterProject {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px 25px;
    list-style-type: none;
    cursor: default;
}

.sort {
    display: none;
}

.iconeTitle {
    margin-left: 5px;
    font-size: 15px;
    font-style: italic;
  }

@media screen and (max-width: 1024px) {
    .container {
        padding: 70px 35px 50px 35px;
    }

    .title {
        font-size: 85px;
    }

    .subtitle {
        font-size: 24px;
    }

    .boxContainer {
         justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .up {
        height: 50%;
        margin-bottom: 70px;
        padding-bottom: 0px;
        display: flex;
        justify-content: flex-end;
    }

    .leftContent {
        display: none
    }

    .rightContent {
        flex-direction: row-reverse;
        align-items: flex-end;
        column-gap: 25px;
    }

    .linksContainer {
        height: 20%;
    }

    .linkItem{
        position: static;
    }

    .link{
        height: 40px;
        width: 125px;
        column-gap: 5px;
        font-size: 15px;
        font-weight: 500;
    }
    .link1, .link2, .link3, .link4 {
        animation: none;
    }


    .subtitleProject {
        width: 100%;
    }

    .boxContainer {
        margin-top: 25px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 70px 15px 50px 15px;
    }

    .up {
        margin-bottom: 60px;
    }
    
    .subtitles {
        text-align: right;
    }
}
