.modal {
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    border: 0;
    outline: 0;
    border-radius: 5px;
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
}

.container {
    padding: 22px;
    display: flex;
    justify-content: space-between;
    column-gap: 45px;
}

.media{
    width: 720px;
}

.rightPart{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
}

.tag, .link {
    font-size: 14px;
}


@media screen and (max-width: 1080px) {
    .container {
        padding: 15px;
        column-gap: 30px;
    }

   .media{
        width: 480px;
    }

    .content{
        font-size: 15px;
    }
}

@media screen and (max-width: 750px) {
    .modal {
        top: 35%;
    }
    .video{
        width: 375px;
    }
}