.modal {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    border: 0;
    outline: 0;
}
.video{
    width: 900px;
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
}

/* .icone {
    background: rgba(0, 0, 0,0.8);
} */

@media screen and (max-width: 1080px) {
    .modal {
        top: 20%;
    }
    .video{
        width: 720px;
    }
}

@media screen and (max-width: 750px) {
    .modal {
        top: 35%;
    }
    .video{
        width: 375px;
    }
}