.show {
    width: 100%;
    position: absolute;
    top: 0;
    left: 720px;
    transition: transform 1500ms;
}

.hidden {
    transform: translateX(-720px);
}

.skills-container {
    padding: 35px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.list {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    font-size: 18px;
}

.list > li:nth-child(1) {
    font-weight: bold;
}

@media screen and (max-width: 750px) {
    .skills-container {
        padding: 25px;
        grid-template-columns: 1fr;
        row-gap: 40px;
    }

    .list {
        padding: 10px 0;
        flex-direction: row;
        column-gap: 15px;
    }
}